.WeatherForecast{
    text-align:center;
}

.WeatherForecast-temperatures-min{
 opacity: 0.6;
 margin-left: 5px;  
}
body{
    background-image: url("C:\\Users\\thato\Downloads\react-weather-app\src\th (2).jpg");
 }